<h2 class="text-center mt-4">Crea un nuevo producto</h2>

<div class="form-container">

    {{#if categorias}}

    <form action="/crear-producto" method="POST" class="formulario" enctype="multipart/form-data">
    <label>Nombre</label>
    <input type="tex" name="nombre" required>

    <label>Descripción</label>
    <textarea name="descripcion"></textarea>

    <label>Precio($)</label>
    <input type="number" name="precio" required>

    <label>Categoría</label>
    <select name="CategoriaId" required>
        {{#each categorias}}
        <option value="{{this.id}}">{{this.nombre}}</option>
        {{/each}}
    </select>

    <label>Imagen del Producto (Opcional)</label>
    <input type="file" name="imagen" accept="image/*">

    <button type="submit" class="btn-guardar">Guardar</button>
</form>

    {{else}}

    <p class="text-center">
        No hay categorias 😢
        <a href="/crear-categoria">Crear una primero</a>
    </p>

    {{/if}}

</div>