<h2 class="text-center mt-4">Crear Categoria </h2>

<div class="form-container">
    <form action="/crear-categoria" method="POST" class="formulario">

        <label>Nombre de la categoria</label>
        <input type="text" name="nombre" placeholder="Ej: Helados veganos" required>

        <button type="submit" class="btn-guardar">Guardar</button>
    </form>
</div>