<div class ="login-wrapper">
    <div class="auth-container">
        <h1 class="auth-title">Bienvenido Registrate</h1>

<div class="auth-flex">
    <section class="auth-card">
        <h2>Inicia Sesion</h2>
        <form action="/register" method="POST" class="auth-from">
        <div class="form-group">
        <label for="reg-email">Correo Electonico</label>
        <input type="email" id="reg-emal" name="email" placeholder="ejemplo@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="reg-password">Contraseña</label>
            <input type="password" id="reg-password" name="password" placeholder="Crear contraseña" required >
        </div>
 <button type="submit" class="btn-prymary">crear cuenta</button>


        </form>
    </section>
</div>


    </div>
</div>