<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}} - Modisko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">🍦 Mordisko </a>
            </div>

            <nav class="nav">
                <ul>
                    <li><a href="/">Inicio </a></li>
                    <li><a href="/crear-categoria">Crear Categoria</a></li>
                    <li><a href="/crear-producto">Crear Producto</a></li>
                    <li><a href="/login">Inicio de sesion</a></li>
                    <li><a href="/register">Registrate</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            {{{body}}}
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2026 - App de Helados 🍨</p>
    </footer>

</body>

</html>